@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    @apply absolute;
}

.nav-fixed {
    @apply fixed bg-neutral-50 bg-opacity-90 border-b border-neutral-100 dark:border-slate-800;
    backdrop-filter: blur(5px);
    animation: coba .5s;
}

.navbar-nav {
    height: 100vh;
    backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
    @apply w-3 dark:bg-slate-800 bg-yellow-500
}

::-webkit-scrollbar-thumb {
    @apply w-3 dark:bg-slate-500 bg-yellow-300 hover:bg-yellow-200
}

#dark-toggle:checked ~ label .toggle-circle {
    @apply translate-x-3;
}

@keyframes coba {
    0% {
        top: -50px;
    }
    100% {
        top: 0px;
    }
}